<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Connectik_SECURE_QA_Automation_Test_Report</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ee18e">  <td>16/03/29 15:20:19</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestHelper.testBeforeTest(org.testng.ITestContext)[pri:0, instance:com.automation.suite.TestSuite_Login@50437f90]">&gt;&gt;testBeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>com.automation.Connectik_Main.main()@289296997</td>   <td></td> </tr>
<tr bgcolor="6ee18e">  <td>16/03/29 15:20:28</td>   <td>9072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestHelper.setUp(org.testng.ITestContext)[pri:0, instance:com.automation.suite.TestSuite_Login@50437f90]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>com.automation.Connectik_Main.main()@289296997</td>   <td></td> </tr>
<tr bgcolor="a1b294">  <td>16/03/29 15:20:28</td>   <td>9072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite_Login.tc_0103_loginWithKeepMeLoggedInTest()[pri:0, instance:com.automation.suite.TestSuite_Login@50437f90]">tc_0103_loginWithKeepMeLoggedInTest</td> 
  <td>com.automation.Connectik_Main.main()@289296997</td>   <td></td> </tr>
<tr bgcolor="6ee18e">  <td>16/03/29 15:21:11</td>   <td>52354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestHelper.aferMethod(org.testng.ITestContext)[pri:0, instance:com.automation.suite.TestSuite_Login@50437f90]">&lt;&lt;aferMethod</td> 
<td>&nbsp;</td>  <td>com.automation.Connectik_Main.main()@289296997</td>   <td></td> </tr>
<tr bgcolor="6ee18e">  <td>16/03/29 15:21:11</td>   <td>52356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestHelper.setUp(org.testng.ITestContext)[pri:0, instance:com.automation.suite.TestSuite_Search@4a72d7ff]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>com.automation.Connectik_Main.main()@289296997</td>   <td></td> </tr>
<tr bgcolor="dbb493">  <td>16/03/29 15:21:11</td>   <td>52356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite_Search.tc_1201_RegularSearch()[pri:0, instance:com.automation.suite.TestSuite_Search@4a72d7ff]">tc_1201_RegularSearch</td> 
  <td>com.automation.Connectik_Main.main()@289296997</td>   <td></td> </tr>
<tr bgcolor="6ee18e">  <td>16/03/29 15:21:32</td>   <td>73412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestHelper.aferMethod(org.testng.ITestContext)[pri:0, instance:com.automation.suite.TestSuite_Search@4a72d7ff]">&lt;&lt;aferMethod</td> 
<td>&nbsp;</td>  <td>com.automation.Connectik_Main.main()@289296997</td>   <td></td> </tr>
<tr bgcolor="6ee18e">  <td>16/03/29 15:21:32</td>   <td>73412</td> <td>&nbsp;</td><td title="&lt;&lt;TestHelper.aferTest(org.testng.ITestContext)[pri:0, instance:com.automation.suite.TestSuite_Login@50437f90]">&lt;&lt;aferTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>com.automation.Connectik_Main.main()@289296997</td>   <td></td> </tr>
</table>
