<h2>Methods that were not run</h2><table>
<tr><td>com.automation.suite.TestSuite_Login.tc_104_loginTest</td></tr>
<tr><td>com.automation.suite.TestSuite_Login.loginWithTenantTest</td></tr>
<tr><td>com.automation.suite.TestSuite_Login.tc_0101_loginInvalidPasswordTest</td></tr>
<tr><td>com.automation.suite.TestSuite_Login.loginWithTenantKeepLoggedinTest</td></tr>
<tr><td>com.automation.suite.TestSuite_Search.tc_1208_InvalidSearch</td></tr>
<tr><td>com.automation.suite.TestSuite_Search.tc_1206_BlankSearch</td></tr>
<tr><td>com.automation.suite.TestSuite_Login.tc_0102_loginInvalidUserNameTest</td></tr>
<tr><td>com.automation.suite.TestHelper.aferTest</td></tr>
<tr><td>com.automation.suite.TestSuite_Login.tc_103_ForgotPassword</td></tr>
<tr><td>com.automation.suite.TestSuite_Search.tc_1203_AnalyzeSearchResults</td></tr>
<tr><td>com.automation.suite.TestHelper.testBeforeTest</td></tr>
<tr><td>com.automation.suite.TestSuite_Search.tc_1207_FilterSearchResult</td></tr>
<tr><td>com.automation.suite.TestSuite_Search.tc_1204_SortedSearchResultByRelevancy</td></tr>
<tr><td>com.automation.suite.TestSuite_Search.tc_1205_SortedSearchResultByDate</td></tr>
</table>