<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.automation.suite.TestSuite_Search</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tc_1207_FilterSearchResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc_1208_InvalidSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc_1204_SortedSearchResultByRelevancy</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc_1205_SortedSearchResultByDate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc_1203_AnalyzeSearchResults</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc_1206_BlankSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc_1201_RegularSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>aferMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.automation.suite.TestSuite_Login</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tc_0103_loginWithKeepMeLoggedInTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc_0101_loginInvalidPasswordTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginWithTenantKeepLoggedinTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc_103_ForgotPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginWithTenantTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc_0102_loginInvalidUserNameTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc_104_loginTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>aferMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
