<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Connectik_SECURE_QA_Automation_Test_Report</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d871c0">  <td>16/03/29 15:14:55</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestHelper.testBeforeTest(org.testng.ITestContext)[pri:0, instance:com.automation.suite.TestSuite_Search@16eda206]">&gt;&gt;testBeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>com.automation.Connectik_Main.main()@1437905545</td>   <td></td> </tr>
<tr bgcolor="d871c0">  <td>16/03/29 15:15:06</td>   <td>11440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestHelper.setUp(org.testng.ITestContext)[pri:0, instance:com.automation.suite.TestSuite_Login@1adabe7e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>com.automation.Connectik_Main.main()@1437905545</td>   <td></td> </tr>
<tr bgcolor="9e80d1">  <td>16/03/29 15:15:06</td>   <td>11440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite_Login.tc_0103_loginWithKeepMeLoggedInTest()[pri:0, instance:com.automation.suite.TestSuite_Login@1adabe7e]">tc_0103_loginWithKeepMeLoggedInTest</td> 
  <td>com.automation.Connectik_Main.main()@1437905545</td>   <td></td> </tr>
<tr bgcolor="d871c0">  <td>16/03/29 15:16:19</td>   <td>84691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestHelper.aferMethod(org.testng.ITestContext)[pri:0, instance:com.automation.suite.TestSuite_Login@1adabe7e]">&lt;&lt;aferMethod</td> 
<td>&nbsp;</td>  <td>com.automation.Connectik_Main.main()@1437905545</td>   <td></td> </tr>
<tr bgcolor="d871c0">  <td>16/03/29 15:16:19</td>   <td>84692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestHelper.setUp(org.testng.ITestContext)[pri:0, instance:com.automation.suite.TestSuite_Search@16eda206]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>com.automation.Connectik_Main.main()@1437905545</td>   <td></td> </tr>
<tr bgcolor="a2957b">  <td>16/03/29 15:16:19</td>   <td>84692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite_Search.tc_1201_RegularSearch()[pri:0, instance:com.automation.suite.TestSuite_Search@16eda206]">tc_1201_RegularSearch</td> 
  <td>com.automation.Connectik_Main.main()@1437905545</td>   <td></td> </tr>
<tr bgcolor="d871c0">  <td>16/03/29 15:16:52</td>   <td>117066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestHelper.aferMethod(org.testng.ITestContext)[pri:0, instance:com.automation.suite.TestSuite_Search@16eda206]">&lt;&lt;aferMethod</td> 
<td>&nbsp;</td>  <td>com.automation.Connectik_Main.main()@1437905545</td>   <td></td> </tr>
<tr bgcolor="d871c0">  <td>16/03/29 15:16:52</td>   <td>117066</td> <td>&nbsp;</td><td title="&lt;&lt;TestHelper.aferTest(org.testng.ITestContext)[pri:0, instance:com.automation.suite.TestSuite_Search@16eda206]">&lt;&lt;aferTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>com.automation.Connectik_Main.main()@1437905545</td>   <td></td> </tr>
</table>
